body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
  color: #000;
}

.navbar-laravel {
  background-color: #c0db75;
  padding: 10px 10px;
}

.navbar-brand {
  color: #000 !important;
}

.navbar-nav {
  color: #000;
  padding: 10px;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
  background-color: #FFF;
}

.list-group-item {
  border-color: #fff;
  background-color: #98FB98;
}

.login-box {
  background-color: white;
}

.login-header {
  background-color: white;
}

.login-body {
  background-color: white;
}

.hokou {
  border-top: 5px dotted #c0db75;
  padding: 10px 10px 10px 10px;
}

.hokoukyori {
  border-top: 5px dotted #c0db75;
  padding: 10px 10px;
}

.syuuryoubotton {
  border-top: 5px dotted #c0db75;
  padding: 10px 10px;
}

